@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12">
    <div>
        <h1>Javni dio aplikacije</h1>
        <br />
        <h2>Za početak rada odaberite željenu opciju iz izbornika.</h2>
        <br />
        <br />
    </div>
</div>